.root {
  display: flex;
  align-items: center;
  background-color: #fff4e2 !important;


}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  align-items: center;
}

.searchBlock {

}

.logo {
  width: 30px;
  height: 40px;
}